/* Modal */

#acm_shadow_popup {
    backdrop-filter: blur(calc(var(--SmartThemeBlurStrength) * 2));
    -webkit-backdrop-filter: blur(calc(var(--SmartThemeBlurStrength) * 2));
    background-color: var(--black30a);
    display: none;
    opacity: 0.0;
    position: absolute;
    width: 100%;
    height: 100svh;
    z-index: 9000;
    top: 0;
}

#acm_popup {
    width: 500px;
    max-width: 90svw;
    position: absolute;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    box-shadow: 0 0 14px var(--black70a);
    border: 1px solid var(--SmartThemeBorderColor);
    padding: 4px;
    background-color: var(--SmartThemeBlurTintColor);
    border-radius: 10px;
    max-height: 90svh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

#acm_popup_holder {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    padding: 0 10px;
}

#acm_popup_text {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}

#acm_popup_controls {
    display: flex;
    align-self: center;
    gap: 20px;
}

.dropdown-ui-menu {
    display: none;
    position: absolute;
    z-index: 9000;
}

.dropdown-ui-item {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-ui-item:hover {
    background-color: var(--white50a);
    color: var(--black70a);
}

#acm_popup_close {
    background-color: var(--crimson70a);
    cursor: pointer;
}

.dropdown-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-title {
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    position: relative;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0 15px;
}

.dropdown-container.open .dropdown-content {
    max-height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    overflow-y: auto;
}

.dropdown-submenu-item {
    padding: 8px 12px;
    cursor: pointer;
}

/* Séparateur */
.dropdown-separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 8px 0;
}

#acm_export_format_popup {
    display: none;
    z-index: 9100;
}

#acm_character_popup {
    display: none;
    background-color: var(--SmartThemeBlurTintColor);
    backdrop-filter: blur(calc(var(--SmartThemeBlurStrength)*2));
    -webkit-backdrop-filter: blur(calc(var(--SmartThemeBlurStrength)*2));
    min-width: 100px;
    max-width: var(--sheldWidth);
    height: calc(100dvh - 84px);
    min-height: calc(100dvh - 84px);
    max-height: calc(100dvh - 84px);
    position: absolute;
    z-index: 9001;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: var(--topBarBlockSize);
    box-shadow: 0 0 20px var(--black70a);
    padding: 10px;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
}

#acm_character_popup h5 {
    color: var(--grey50);
}

#acm_character_popup h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: inline;
}

#acm_character_popup_text {
    align-items: center;
}

#acm_character_cross {
    position: absolute;
    right: 5px;
    top: 5px;
    /* width: 20px;
    height: 20px; */
    cursor: pointer;
    opacity: 0.6;
    font-size: 24px;
}

#acm_personality_textarea {
    width: 100%;
}

#acm_scenario_pole {
    width: 100%;
    margin-left: 0;
}

#acm_talkativeness_div input[type="range"] {
    width: 100%;
}

#acm_mes_example_div {
    height: 100%;
    display: flex;
    flex-grow: 1;
}

#acm_mes_example_textarea {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

/* Wrapper */
.list-character-wrapper {
    display: flex;
    height: 100%;
    overflow-y: auto;
}

#acm_character_popup_ok {
    cursor: pointer;
    display: none;
    height: 40px;
    margin-top: 15px;
    margin-left: 36px;
    backdrop-filter: blur(var(--SmartThemeBlurStrength));
    background-color: var(--black70a);
    -webkit-backdrop-filter: blur(var(--SmartThemeBlurStrength));
    width: 110px;
    text-align: center;
}

/* Search and Sort banner */
.sortAndFilter {
    display: flex;
    justify-content: space-between;
}

.form_sort_filter{
    display: flex;
    margin: 5px;
    column-gap: 5px;
}

#acm_tags_view.tags_view, #acm_character_import_button, #acm_external_import_button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
}

.sortText {
    flex-shrink: 0;
    margin: 8px 0 8px 8px;
}

#char_sort_order, #char_search_bar {
    margin: 5px 0;
    flex: 1;
    height: auto;
}

.acm_checkbox {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    white-space: nowrap;
    margin: 5px;
}

#charNumber {
    padding: 7px 2px;
    min-width: fit-content;
    margin: 7px;
}

#tags-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;
    flex-direction: row;
    gap: 0.2rem;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.acm_tag {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--SmartThemeBodyColor);
    background-color: var(--black30a);
    border-color: var(--white50a);
    padding: 0.1rem 0.2rem;
    font-size: calc(var(--mainFontSize) - 5%);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 10px;
    width: fit-content;
    min-width: 0;
    cursor: pointer;
    opacity: 0.6;
    filter: brightness(0.8);
}

.acm_tag_name {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}

/* Characters List */

#character-list, .character-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    gap: 5px;
    flex-direction: row;
    height: 100%;
}

.character_item {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: min-content;
    height: min-content;
    padding: 2px;
    border-radius: 5px;
    align-items: flex-start;
    overflow: hidden;
    flex-direction: row;
}

.char_select:hover {
    background-color: var(--white30a);
}

.avatar_item {
    --big-avatar-height-factor: 3 !important;
    --big-avatar-width-factor: 2 !important;
    --big-avatar-border-factor: 2 !important;
    flex: unset;
    height: calc(var(--avatar-base-height) * var(--big-avatar-height-factor));
    width: unset;
    border-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    border-radius: calc(var(--avatar-base-border-radius) * var(--big-avatar-border-factor));
    align-self: center;
    transition: 250ms;
}

.avatar_item > img {
    border-radius: 20%;
}

.fav .avatar_item > img {
    border: 3px solid goldenrod;
}

.char_name {
    width: 100%;
    max-width: unset !important;
    justify-content: center;
    position: relative;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.char_name_block {
    width: 100%;
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
    display: flex;
    align-items: baseline;
}

.char_name_block > span {
    width: 100%;
    max-width: 100px;
    text-align: center;
    font-size: calc(var(--mainFontSize) * .8);
    flex: 1 1 auto;
    white-space: normal;
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
    display: block;
    font-weight: bolder;
}

.char_selected {
    background-color: rgb(0, 0, 0);
}


/* Characters Details */

#char-sep {
    padding: 3px;
}

#char-sep:hover {
    cursor: pointer;
    background-color: white;
}

#char-details {
    display: flex;
    gap: 5px;
    min-height: 50%;
}

#char-details-block {
    flex: 1;
}

.char-details-summary {
    display: flex;
    gap: 10px;
    padding: 5px;
}

#avatar_title {
    position: relative;
}

.char-details-img {
    border-radius: 20%;
}

#edit_icon {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#edit_icon:hover {
    color: goldenrod;
}

#avatar_title:hover #edit_icon {
    display: block;
}

.char-details-summary-desc {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
}

#ch_name_details {
    font-weight: bolder;
}

.ch_infos_container {
    display:flex;
    justify-content:space-between;
}

.ch_infos_column {
    display:flex;
    flex-direction: column;
    width:50%;
}

.ch_infos_item {
    margin-top: 5px;
}

#acm_details_buttons_block {
    display: flex;
    flex: 1;
    gap: 5px;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

#acm_delete_button:hover {
    background-color: var(--fullred) !important;
}

.char-details-tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tag-searchbar {
    width: 50%;
}

.inline-drawer-design {
    background-image: linear-gradient(348deg, var(--white30a)2%, var(--grey30a)10%, var(--black70a)95%, var(--SmartThemeQuoteColor)100%);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 2px 5px;
    border: 1px solid var(--SmartThemeBorderColor);
    transition: all 250ms;
}

.drawer-header-item {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: start;
}

#altGreetings_number {
    padding-left: 13px;
}

.tokens_count {
    padding-left: 13px;
}

#char-details-desc {
    flex:1;
    overflow-y: auto
}

.desc_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.altGreetings_buttons {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.inline-drawer-icon.fa-circle-plus,
.inline-drawer-icon.fa-circle-minus {
    margin-right: 5px;
}

#desc_zone,
#firstMes_zone,
.altGreeting_zone {
    resize: none;
}

/* DropdownUI */

#preset_selector{
    padding-right: 20px;
}


.acm_catList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-image: linear-gradient(348deg, var(--white30a)2%, var(--grey30a)10%, var(--black70a)95%, var(--SmartThemeQuoteColor)100%);
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 0 5px;
    border: 1px solid var(--SmartThemeBorderColor);
}

.acm_catTagList {
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.sortable-placeholder {
    border: 2px dashed #ccc;
    height: 50px; /* Ajustez pour correspondre à vos éléments */
    margin: 10px 0;
}

.drag-handle {
    cursor: grab;
}
