/* Wrapper */
.list-character-wrapper {
    display: flex;
    height: 100%;
    overflow-y: auto;
}


/* Search and Sort banner */
.sortAndFilter {
    display: flex;
}

.form_sort_filter{
    display: flex;
    margin: 5px;
    column-gap: 5px;
}

.sortText {
    flex-shrink: 0;
    margin: 8px;
}

#char_sort_order {
    margin: 5px;
}


/* Characters List */

#character-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    align-content: flex-start;
}

.character_item {
    max-width: 100px;
    padding: 5px;
    border-radius: 10px;
}

.char_select:hover {
    background-color: var(--white30a);
}

.avatar {
    align-self: center;
}

.char_selected {
    background-color: rgb(0, 0, 0);
}


/* Characters Details */

#char-sep {
    padding: 3px;
}

#char-sep:hover {
    cursor: pointer;
}

#char-details {
    display: flex;
    gap: 5px;
    flex-grow: 1;
}

#char-details-block {
    flex: 1;
}

.char-details-summary {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.char-details-summary-desc {
    text-align: left;
}

.ch_name_details {
    font-weight: bolder;
    margin-bottom: 10px;
}

.char-details-tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tag-searchbar {
    width: 50%;
}

.divider {
    background-image: linear-gradient(90deg, var(--transparent), var(--SmartThemeBodyColor), var(--transparent));
    margin: 5px 0;
    width: 1px;
    opacity: 0.2;
}

.char-details-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.desc_div {
    display: flex;
}

#desc_zone {
    height: 100%;
    resize: none;
}
