<div id="acm_lock"></div>
<div id="acm_popup">
    <div class="list-character-wrapper">
        <div class="sortAndFilter">
            <form class="form_sort_filter" action="javascript:voidnull;">
                <div id="acm_character_create_button" class="menu_button fa-solid fa-plus faSmallFontSquareFix" title="Create Character"></div>
                <div id="acm_character_import_button" class="menu_button fa-solid fa-file-import faSmallFontSquareFix" title="Import Character from File"></div>
                <div id="acm_external_import_button" class="menu_button fa-solid fa-cloud-arrow-down faSmallFontSquareFix" title="Import content from external URL"></div>
                <div id="acm_tags_view" class="menu_button tags_view fa-solid fa-gear faSmallFontSquareFix" title="Manage tags"></div>
                <div id="acm_tags_filter" class="menu_button fa-solid fa-tags faSmallFontSquareFix" title="Show Tag List"></div>
                <div class="sortText">Sorted by :</div>
                <select id="char_sort_order" title="Characters sorting order" data-i18n="[title]Characters sorting order">
                    <option data-field="name" data-order="asc" data-i18n="A-Z">A-Z</option>
                    <option data-field="name" data-order="desc" data-i18n="Z-A">Z-A</option>
                    <option data-field="tags" data-order="asc">Least Tags</option>
                    <option data-field="tags" data-order="desc">Most Tags</option>
                    <option data-field="date_last_chat" data-order="asc">Recent</option>
                    <option data-field="create_date" data-order="desc">Newest</option>
                    <option data-field="create_date" data-order="asc">Oldest</option>
                    <option data-field="data_size" data-order="asc">Least Tokens</option>
                    <option data-field="data_size" data-order="desc">Most Tokens</option>
                </select>
                <label for="char_search_bar" title="Search for specific tags or characters.">
                    <div class="search-with-dropdown">
                        <select id="search_filter_dropdown" class="search-dropdown-select">
                            <option value="name">Name</option>
                            <option value="creator">Creator</option>
                            <option value="creator_notes">Creator's Notes</option>
                            <option value="tags">Tags</option>
                        </select>
                        <input id="char_search_bar" class="text_pole width100p search-with-dropdown-input" type="search" data-i18n="[placeholder]Search..." placeholder="Search..." maxlength="100">
                    </div>
                </label>
                <div id="acm_fav_filter_button" class="menu_button fa-solid fa-star fav_off faSmallFontSquareFix acm_toolbar_button" title="Show favourites only" data-i18n="[title]Show favourites only" aria-pressed="false"></div>
                <div id="acm_random_button" class="menu_button fa-solid fa-dice faSmallFontSquareFix acm_toolbar_button" title="Random character" data-i18n="[title]Random character"></div>
            </form>
            <span id="charNumber"></span>
        </div>
        <div id="acm_tagQuery" class="acm_tagQuery_container">
            <div class="acm_tagQuery_row">
                <span class="acm_tagQuery_label">Mandatory tags:</span>
                <label for="acm_mandatoryInput" title="Mandatory Tags">
                    <input id="acm_mandatoryInput" class="text_pole acm_tagQuery_input margin0 padding0">
                </label>
                <div id="acm_mandatoryTags" class="tags"></div>
            </div>
            <div class="acm_tagQuery_row">
                <span class="acm_tagQuery_label">At least one tag:</span>
                <label for="acm_facultativeInput" title="Facultative Tags">
                    <input id="acm_facultativeInput" class="text_pole acm_tagQuery_input margin0 padding0">
                </label>
                <div id="acm_facultativeTags" class="tags"></div>
            </div>
            <div class="acm_tagQuery_row">
                <span class="acm_tagQuery_label">Excluded tags:</span>
                <label for="acm_excludedInput" title="Excluded Tags">
                    <input id="acm_excludedInput" class="text_pole acm_tagQuery_input margin0 padding0">
                </label>
                <div id="acm_excludedTags" class="tags"></div>
            </div>
        </div>
        <hr>
        <div id="character-list"> </div>
        <hr id="char-sep" style="display:none">
        <div id="char-details">
            <div id="char-details-block">
                <div class="char-details-summary">
                    <div class="acm_avatar" id="avatar_title">
                        <img id="avatar_img" class="char-details-img" src="" alt="Character Avatar" draggable="false">
                        <label for="edit_avatar_button" title="Click to select a new avatar for this character" data-i18n="[title]Click to select a new avatar for this character">
                            <span id="edit_icon">
                                <i class="fas fa-edit"></i>
                                <input id="edit_avatar_button" hidden="" type="file" name="avatar" accept="image/*">
                            </span>
                        </label>
                    </div>
                    <div class="char-details-summary-desc">
                        <span id="ch_name_details"></span>
                        <hr>
                        <span id="ch_infos_creator" class="ch_infos_item"></span>
                        <div class="ch_infos_container">
                            <div class="ch_infos_column">
                                <span id="ch_infos_version" class="ch_infos_item"></span>
                                <span id="ch_infos_date" class="ch_infos_item"></span>
                                <span id="ch_infos_tok" class="ch_infos_item"></span>
                                <span id="ch_infos_lastchat" class="ch_infos_item"></span>
                            </div>
                            <div class="ch_infos_column">
                                <span id="ch_infos_link"  class="ch_infos_item"></span>
                                <span id="ch_infos_adddate" class="ch_infos_item"></span>
                                <span id="ch_infos_permtok" class="ch_infos_item"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="acm_details_buttons_block">
                    <div id="acm_favorite_button" class="menu_button fa-solid fa-star fav_off faSmallFontSquareFix" title="Add to Favorites" data-i18n="[title]Add to Favorites" tabindex="0"></div>
                    <div id="acm_open_chat" class="menu_button fa-solid fa-comments faSmallFontSquareFix" title="Open chat" data-i18n="[title]Open chat"></div>
                    <div id="acm_rename_button" class="menu_button fa-solid fa-user-pen faSmallFontSquareFix" title="Rename Character" data-i18n="[title]Rename"></div>
                    <div id="acm_advanced_div" class="menu_button fa-solid fa-book faSmallFontSquareFix" title="Advanced Definitions" data-i18n="[title]Advanced Definition"></div>
                    <div id="acm_export_button" class="menu_button fa-solid fa-file-export faSmallFontSquareFix" title="Export and Download" data-i18n="[title]Export and Download"></div>
                    <div id="acm_dupe_button" class="menu_button fa-solid fa-clone faSmallFontSquareFix" title="Duplicate Character" data-i18n="[title]Duplicate Character"></div>
                    <div id="acm_delete_button" class="menu_button fa-solid fa-skull faSmallFontSquareFix" title="Delete Character" data-i18n="[title]Delete Character"></div>
                </div>
                <div class="char-details-tags">
                    <div class="tag-searchbar">
                        <label for="input_tag" title="Search or create a tag.">
                            <input id="input_tag" class="text_pole tag_input wide100p margin0 ui-autocomplete-input" data-i18n="[placeholder]Search / Create Tags" placeholder="Search / Create tags" maxlength="50" autocomplete="off">
                        </label>
                    </div>
                    <div id="tag_List" class="tags"></div>
                </div>
            </div>
            <div id="char-details-desc">
                    <div class="inline-drawer">
                        <div id="desc_header" class="inline-drawer-toggle inline-drawer-header inline-drawer-design">
                            <div style="display: flex;flex-grow: 1;">
                                 <span class="drawer-header-item">
                                    <b>Description</b>
                                    <i class="editor_maximize fa-solid fa-maximize" data-for="acm_description" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                                    <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#character-description" class="notes-link" target="_blank">
                                        <span class="fa-solid fa-circle-question note-link-span"></span>
                                    </a>
                                </span>
                                <span id="acm_description_tokens" class="drawer-header-item"></span>
                            </div>
                            <div class="inline-drawer-icon idit fa-solid fa-circle-chevron-down down"></div>
                        </div>
                        <div class="inline-drawer-content">
                            <label for="acm_description" title="Description">
                                <textarea id="acm_description" class="autoSetHeight"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="inline-drawer">
                        <div id="firstMes_header" class="inline-drawer-toggle inline-drawer-header inline-drawer-design">
                            <div style="display: flex;flex-grow: 1;">
                                <span class="drawer-header-item">
                                    <b>Greeting</b>
                                    <i class="editor_maximize fa-solid fa-maximize" data-for="acm_firstMess" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                                    <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#first-message" class="notes-link" target="_blank">
                                        <span class="fa-solid fa-circle-question note-link-span"></span>
                                    </a>
                                </span>
                                <span id="acm_firstMess_tokens" class="drawer-header-item"></span>
                            </div>
                            <div class="inline-drawer-icon idit fa-solid fa-circle-chevron-down down"></div>
                        </div>
                        <div class="inline-drawer-content">
                            <label for="acm_firstMess" title="First message">
                                <textarea id="acm_firstMess" class="autoSetHeight"></textarea>
                            </label>
                        </div>
                    </div>
                    <div id="altGreetings_drawer" class="inline-drawer">
                        <div id="altGreetings_header" class="altgreetings-drawer-toggle inline-drawer-header inline-drawer-design">
                            <div style="display: flex;flex-grow: 1;">
                                <span class="drawer-header-item"><b>Alt. Greetings</b></span>
                                <span id="altGreetings_number" class="drawer-header-item"></span>
                            </div>
                            <div class="altGreetings_buttons">
                                <i class="inline-drawer-icon fa-solid fa-circle-plus"></i>
                                <i class="inline-drawer-icon idit fa-solid fa-circle-chevron-down down"></i>
                            </div>
                        </div>
                        <div id="altGreetings_content" class="inline-drawer-content">
                        </div>
                    </div>
                    <div class="inline-drawer">
                        <div class="inline-drawer-toggle inline-drawer-header inline-drawer-design"
                             id="CN_header">
                            <div style="display: flex;flex-grow: 1;">
                                 <span class="drawer-header-item">
                                    <b>Creator's Notes</b>
                                    <i class="editor_maximize fa-solid fa-maximize"
                                       data-for="acm_creatornotes" data-i18n="[title]Expand the editor"
                                       title="Expand the editor"></i>
                                </span>
                            </div>
                            <div class="inline-drawer-icon idit fa-solid fa-circle-chevron-down down"></div>
                        </div>
                        <div class="inline-drawer-content">
                            <label for="acm_creatornotes" title="Description">
                                <textarea class="autoSetHeight" id="acm_creatornotes"></textarea>
                            </label>
                        </div>
                    </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="acm-popup-controls">
        <div id="acm_switch_ui" class="menu_button">Switch UI</div>
        <div id="acm_popup_close" class="menu_button popup-button-ok">Close</div>
        <div id="acm_popup_width">
            <label for="acm_widthSlider">Width: </label>
            <input id="acm_widthSlider" max="90" min="50" type="range" value="50">
        </div>
    </div>
</div>
<div id="acm_popup_preview" style="display:none"></div>
<div id="acm_export_format_popup" class="list-group" style="position: absolute; inset: 0 0 auto auto; margin: 0; transform: translate(-1920px);" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="left">
    <div class="acm_export_format list-group-item" data-format="png">PNG</div>
    <div class="acm_export_format list-group-item" data-format="json">JSON</div>
</div>
<div id="dropdown-ui-menu" class="dropdown-ui-menu list-group">
    <div id="acm_switch_classic" class="dropdown-ui-item">Classic UI</div>
    <div id="acm_dropdown_sub" class="dropdown-ui-item">Dropdown UI ></div>
</div>
<div id="dropdown-submenu" class="dropdown-ui-menu list-group">
    <div id="acm_switch_alltags" class="dropdown-ui-item">All Tags</div>
    <div id="acm_switch_creators" class="dropdown-ui-item">Creators</div>
    <div id="acm_dropdown_cat" class="dropdown-ui-item">Custom Categories ></div>
    <hr class="dropdown-separator" />
    <div id="acm_manage_categories" class="dropdown-ui-item">Manage Categories</div>
</div>
<div id="preset-submenu" class="dropdown-ui-menu list-group">
    <div class="dropdown-ui-item" data-ui="preset" data-preset="0">Preset 1</div>
    <div class="dropdown-ui-item" data-ui="preset" data-preset="1">Preset 2</div>
    <div class="dropdown-ui-item" data-ui="preset" data-preset="2">Preset 3</div>
    <div class="dropdown-ui-item" data-ui="preset" data-preset="3">Preset 4</div>
    <div class="dropdown-ui-item" data-ui="preset" data-preset="4">Preset 5</div>
</div>
<div id="acm_character_popup" class="flex-container flexFlowColumn flexNoGap">
    <div id="acm_character_popup_text">
        <h3 id="acm_character_popup-button-h3" class="margin0"></h3>
        <span data-i18n="Advanced Definitions">— Advanced Definitions</span>
    </div>
    <hr class="margin-bot-10px">
    <div id="acm_character_cross" class="fa-solid fa-circle-xmark"></div>
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <h4>
                <span data-i18n="Prompt Overrides">Prompt Overrides</span>
                <small data-i18n="(For Chat Completion and Instruct Mode)">(For Chat Completion and Instruct Mode)</small>
            </h4>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down interactable" tabindex="0"></div>
        </div>
        <div class="inline-drawer-content">
            <small data-i18n="Insert {{original}} into either box to include the respective default prompt from system settings.">Insert {{original}} into either box to include the respective default prompt from system settings.</small>
            <div>
                <h4>
                    <span data-i18n="Main Prompt">Main Prompt</span>
                    <i class="editor_maximize fa-solid fa-maximize" data-for="acm_system_prompt" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                </h4>
                <label for="acm_system_prompt" title="System Prompt">
                    <textarea id="acm_system_prompt" name="system_prompt" data-i18n="[placeholder]Any contents here will replace the default Main Prompt used for this character. (v2 spec: system_prompt)" placeholder="Any contents here will replace the default Main Prompt used for this character. (v2 spec: system_prompt)" class="text_pole" autocomplete="off" rows="3" maxlength="50000"></textarea>
                </label>
                <div class="extension_token_counter">
                    <span id="acm_system_prompt_tokens"></span>
                </div>
            </div>
            <div>
                <h4>
                    <span data-i18n="Post-History Instructions">Post-History Instructions</span>
                    <i class="editor_maximize fa-solid fa-maximize" data-for="acm_post_history_prompt" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                </h4>
                <label for="acm_post_history_prompt" title="Post-History Instructions">
                    <textarea id="acm_post_history_prompt" name="post_history_instructions" data-i18n="[placeholder]Any contents here will replace the default Post-History Instructions used for this character. (v2 spec: post_history_instructions)" placeholder="Any contents here will replace the default Post-History Instructions used for this character. (v2 spec: post_history_instructions)" class="text_pole" autocomplete="off" rows="3" maxlength="50000"></textarea>
                </label>
                <div class="extension_token_counter">
                    <span id="acm_post_history_prompt_tokens"></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <h4 data-i18n="Creator's Metadata (Not sent with the AI prompt)">
                <span data-i18n="Creator's Metadata">Creator's Metadata</span>
                <small data-i18n="(Not sent with the AI Prompt)">(Not sent with the AI Prompt)</small>
            </h4>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down interactable" tabindex="0"></div>
        </div>
        <div class="inline-drawer-content">
            <small data-i18n="Everything here is optional">Everything here is optional</small>
            <div class="flex-container flexnowrap">
                <div class="flex1">
                    <h4 data-i18n="Created by">Created by</h4>
                    <label for="acm_creator_textarea" title="Botmaker's name">
                        <textarea id="acm_creator_textarea" name="creator" data-i18n="[placeholder](Botmaker's name / Contact Info)" placeholder="(Botmaker's name / Contact info)" class="text_pole" autocomplete="off" rows="2" maxlength="5000"></textarea>
                    </label>
                </div>
                <div class="flex1">
                    <h4 data-i18n="Character Version">Character Version</h4>
                    <label for="acm_character_version_textarea" title="Character versions">
                        <textarea id="acm_character_version_textarea" name="character_version" data-i18n="[placeholder](If you want to track character versions)" placeholder="(If you want to track character versions)" class="text_pole" autocomplete="off" rows="2" maxlength="500"></textarea>
                    </label>
                </div>
            </div>
            <div class="flex-container flexnowrap">
                <div class="flex1">
                    <h4 class="flex-box">
                        <span data-i18n="Creator's Notes">Creator's Notes</span>
                        <i class="editor_maximize fa-solid fa-maximize" data-for="acm_creator_notes_textarea" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                    </h4>
                    <label for="acm_creator_notes_textarea" title="Creator Notes">
                        <textarea id="acm_creator_notes_textarea" name="creator_notes" data-i18n="[placeholder](Describe the bot, give use tips, or list the chat models it has been tested on. This will be displayed in the character list.)" placeholder="(Describe the bot, give use tips, or list the chat models it has been tested on. This will be displayed in the character list.)" class="text_pole" autocomplete="off" rows="4" maxlength="20000"></textarea>
                    </label>
                </div>
                <div class="flex1">
                    <h4 data-i18n="Tags to Embed">Tags to Embed</h4>
                    <label for="acm_tags_textarea" title="Tags">
                        <textarea id="acm_tags_textarea" name="tags" data-i18n="[placeholder](Write a comma-separated list of tags)" placeholder="(Write a comma-separated list of tags)" class="text_pole" autocomplete="off" rows="4" maxlength="5000"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="acm_personality_div">
        <h4>
            <span data-i18n="Personality summary">Personality summary</span>
            <i class="editor_maximize fa-solid fa-maximize" data-for="acm_personality" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
            <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#personality-summary" class="notes-link" target="_blank"><span class="fa-solid fa-circle-question note-link-span"></span></a>
        </h4>
        <label for="acm_personality">Personality</label>
        <textarea id="acm_personality" name="personality" data-i18n="[placeholder](A brief description of the personality)" placeholder="(A brief description of the personality)" class="text_pole" autocomplete="off" rows="4" maxlength="50000"></textarea>
        <div class="extension_token_counter">
            <span id="acm_personality_tokens"></span>
        </div>
    </div>
    <div id="acm_scenario_div">
        <h4>
            <span data-i18n="Scenario">Scenario</span>
            <i class="editor_maximize fa-solid fa-maximize" data-for="acm_scenario" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
            <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#scenario" class="notes-link" target="_blank">
                <span class="fa-solid fa-circle-question note-link-span"></span>
            </a>
        </h4>
        <label for="acm_scenario" title="Scenario">
            <textarea id="acm_scenario" name="scenario" data-i18n="[placeholder](Circumstances and context of the interaction)" placeholder="(Circumstances and context of the interaction)" class="text_pole" maxlength="50000" autocomplete="off" rows="4"></textarea>
        </label>
        <div class="extension_token_counter">
            <span id="acm_scenario_tokens"></span>
        </div>
    </div>
    <div id="acm_character_notes_div" class="flex-container">
        <div class="flex1">
            <h4>
                <span data-i18n="Character's Note">Character's Note</span>
                <i class="editor_maximize fa-solid fa-maximize" data-for="acm_character_notes" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
            </h4>
            <label for="acm_character_notes" title="Depth Prompt">
                <textarea id="acm_character_notes" name="acm_character_notes" class="text_pole" rows="5" maxlength="50000" autocomplete="off" data-i18n="[placeholder](Text to be inserted in-chat @ designated depth and role)" placeholder="(Text to be inserted in-chat @ designated depth and role)"></textarea>
            </label>
        </div>
        <div>
            <h4>
                <span data-i18n="@ Depth">@ Depth</span>
            </h4>
            <label for="acm_character_notes_depth" title="Character's Notes depth">
                <input id="acm_character_notes_depth" name="character_notes_depth" class="text_pole textarea_compact m-t-0" type="number" min="0" max="999" value="4">
            </label>
            <h4>
                <span data-i18n="Role">Role</span>
            </h4>
            <label for="acm_character_notes_role" title="Character's Notes role">
                <select id="acm_character_notes_role" name="character_notes_role" class="text_pole textarea_compact m-t-0">
                    <option value="system" data-i18n="System">System</option>
                    <option value="user" data-i18n="User">User</option>
                    <option value="assistant" data-i18n="Assistant">Assistant</option>
                </select>
            </label>
            <div class="extension_token_counter">
                <span id="acm_character_notes_tokens"></span>
            </div>
        </div>
    </div>
    <div id="acm_talkativeness_div">
        <h4><span data-i18n="Talkativeness">Talkativeness</span></h4>
        <h5 data-i18n="How often the character speaks in group chats!"><!-- This data-i18n attribute on the left is kept for backward compatibility, use the ones below when translating -->
            <span data-i18n="How often the character speaks in">How often the character speaks in</span>&nbsp;<span class="warning" data-i18n="group chats!">group chats!</span>
        </h5>
        <label for="acm_talkativeness_slider" title="Talkativeness">
            <input id="acm_talkativeness_slider" name="talkativeness" type="range" min="0" max="1" step="0.05" value="0.5">
        </label>
        <div class="slider_hint">
            <span data-i18n="Shy">Shy</span>
            <span data-i18n="Normal">Normal</span>
            <span data-i18n="Chatty">Chatty</span>
        </div>
    </div>
    <hr>
    <div id="acm_mes_example_div" class="flex-container flexFlowColumn">
        <div>
            <h4>
                <span data-i18n="Examples of dialogue">Examples of dialogue</span>
                <i class="editor_maximize fa-solid fa-maximize" data-for="acm_mes_examples" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
            </h4>
            <h5 data-i18n="Important to set the character's writing style.">Important to set the character's writing style. <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#examples-of-dialogue" class="notes-link" target="_blank"><span class="fa-solid fa-circle-question note-link-span"></span></a></h5>
        </div>
        <label for="acm_mes_examples" title="Messages examples">
            <textarea id="acm_mes_examples" class="flexGrow" name="mes_example" data-i18n="[placeholder](Examples of chat dialog. Begin each example with START on a new line.)" placeholder="(Examples of chat dialog. Begin each example with <START> on a new line.)" maxlength="50000" rows="6"></textarea>
        </label>
        <div class="extension_token_counter">
            <span id="acm_mes_examples_tokens"></span>
        </div>
    </div>
    <div id="acm_character_popup_ok" class="menu_button interactable" data-i18n="Save">Save</div>
</div>
<div id="acm_create_popup" class="flex-container flexFlowColumn flexNoGap">
    <div style="display: flex;height: 100vh;min-height:0;">
        <form id="acm_form_create" action="javascript:voidnull;" method="post" enctype="multipart/form-data" style="display:flex;flex:1;">
            <div id="acm_left_panel" class="panel-transition">
                <div class="avatar-and-name-block">
                    <div class="acm_avatar" id="acm_create_avatar_wrapper">
                        <img id="acm_create_avatar" class="char-details-img" src="img/ai4.png" alt="Character Avatar" draggable="false">
                        <label for="acm_add_avatar_button" title="Click to select a new avatar for this character">
                            <span id="acm_create_edit_icon">
                                <i class="fas fa-edit"></i>
                                <input id="acm_add_avatar_button" hidden="" type="file" name="avatar" accept="image/*">
                            </span>
                        </label>
                    </div>
                    <div class="char-details-summary-desc">
                        <label for="acm_create_name" title="Name this character">
                            <input id="acm_create_name" name="ch_name" class="text_pole" placeholder="Name this character" value="" autocomplete="off">
                        </label>
                        <div class="extension_token_counter">
                            <span id="acm_create_name_tokens">Tokens: 0</span>
                        </div>
                        <div id="acm_tags_div">
                            <div class="tag_controls">
                                <label for="acmTagInput" title="Tags">
                                    <input id="acmTagInput" class="text_pole textarea_compact tag_input wide100p margin0 ui-autocomplete-input" placeholder="Search / Create tags" autocomplete="off">
                                </label>
                                <div class="tags_view menu_button fa-solid fa-tags interactable" title="View all tags" tabindex="0"></div>
                            </div>
                            <div id="acmTagList" class="tags"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="flex-container flexFlowColumn flex1">
                    <div id="acmDescription_div" class="title_restorable">
                        <div class="flex-container alignitemscenter">
                            <span>Description</span>
                            <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_desc" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                            <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#character-description" class="notes-link" target="_blank">
                                <span class="fa-solid fa-circle-question note-link-span"></span>
                            </a>
                        </div>
                    </div>
                    <label for="acm_create_desc" title="Description">
                        <textarea id="acm_create_desc" placeholder="Describe your character's physical and mental traits here." name="description"></textarea>
                    </label>
                    <div class="extension_token_counter">
                        <span id="acm_create_desc_tokens">Tokens: 0</span>
                    </div>
                </div>
                <hr>
                <div class="flex-container flexFlowColumn flex1">
                    <div id="acmFirst_message_div" class="title_restorable">
                        <div class="flex-container alignitemscenter flex1">
                            <span data-i18n="First message">First message</span>
                            <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_first" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                            <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#first-message" class="notes-link" target="_blank">
                                <span class="fa-solid fa-circle-question note-link-span"></span>
                            </a>
                        </div>
                    </div>
                    <label for="acm_create_first" title="First message">
                        <textarea id="acm_create_first" placeholder="This will be the first message from the character that starts every chat." name="first_mes"></textarea>
                    </label>
                    <div class="extension_token_counter">
                        <span id="acm_create_first_tokens">Tokens: 0</span>
                    </div>
                </div>
            </div>
            <div id="column-separator" class="column-separator">
                <span class="arrow arrow-up">&#x2191;</span>
                <span id="separator-label">Advanced Definitions</span>
                <span class="arrow arrow-up">&#x2193;</span>
            </div>
            <div id="acm_right_panel" class="panel-transition panel-hidden">
                <div>
                    <h3 class="margin0"><span data-i18n="Advanced Defininitions">Advanced Definitions</span></h3>
                </div>
                <hr class="margin-bot-10px">
                <div class="inline-drawer">
                    <div class="inline-drawer-toggle inline-drawer-header">
                        <h4>
                            <span data-i18n="Prompt Overrides">Prompt Overrides</span>
                            <small data-i18n="(For Chat Completion and Instruct Mode)">(For Chat Completion and Instruct Mode)</small>
                        </h4>
                        <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down interactable" tabindex="0"></div>
                    </div>
                    <div class="inline-drawer-content">
                        <small data-i18n="Insert {{original}} into either box to include the respective default prompt from system settings.">Insert {{original}} into either box to include the respective default prompt from system settings.</small>
                        <div>
                            <h4>
                                <span data-i18n="Main Prompt">Main Prompt</span>
                                <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_system_prompt" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                            </h4>
                            <label for="acm_create_system_prompt" title="System Prompt">
                                <textarea id="acm_create_system_prompt" name="system_prompt" data-i18n="[placeholder]Any contents here will replace the default Main Prompt used for this character. (v2 spec: system_prompt)" placeholder="Any contents here will replace the default Main Prompt used for this character. (v2 spec: system_prompt)" class="text_pole" autocomplete="off" rows="3" maxlength="50000"></textarea>
                            </label>
                            <div class="extension_token_counter">
                                <span id="acm_create_system_prompt_tokens">Tokens: 0</span>
                            </div>
                        </div>
                        <div>
                            <h4>
                                <span data-i18n="Post-History Instructions">Post-History Instructions</span>
                                <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_post_history_instructions" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                            </h4>
                            <label for="acm_create_post_history_instructions" title="Post-History Instructions">
                                <textarea id="acm_create_post_history_instructions" name="post_history_instructions" data-i18n="[placeholder]Any contents here will replace the default Post-History Instructions used for this character. (v2 spec: post_history_instructions)" placeholder=" " class="text_pole" autocomplete="off" rows="3" maxlength="50000"></textarea>
                            </label>
                            <div class="extension_token_counter">
                                <span id="acm_create_post_history_instructions_tokens">Tokens: 0</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="inline-drawer">
                    <div class="inline-drawer-toggle inline-drawer-header">
                        <h4 data-i18n="Creator's Metadata (Not sent with the AI prompt)">
                            <span data-i18n="Creator's Metadata">Creator's Metadata</span>
                            <small data-i18n="(Not sent with the AI Prompt)">(Not sent with the AI Prompt)</small>
                        </h4>
                        <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down interactable" tabindex="0"></div>
                    </div>
                    <div class="inline-drawer-content">
                        <small data-i18n="Everything here is optional">Everything here is optional</small>
                        <div class="flex-container flexnowrap">
                            <div class="flex1">
                                <h4 data-i18n="Created by">Created by</h4>
                                <label for="acm_creator_textarea2" title="Botmaker's name">
                                    <textarea id="acm_creator_textarea2" name="creator" data-i18n="[placeholder](Botmaker's name / Contact Info)" placeholder="(Botmaker's name / Contact info)" class="text_pole" autocomplete="off" rows="2" maxlength="5000"></textarea>
                                </label>
                            </div>
                            <div class="flex1">
                                <h4 data-i18n="Character Version">Character Version</h4>
                                <label for="acm_character_version_textarea2" title="Character versions">
                                    <textarea id="acm_character_version_textarea2" name="character_version" data-i18n="[placeholder](If you want to track character versions)" placeholder="(If you want to track character versions)" class="text_pole" autocomplete="off" rows="2" maxlength="500"></textarea>
                                </label>
                            </div>
                        </div>
                        <div class="flex-container flexnowrap">
                            <div class="flex1">
                                <h4 class="flex-box">
                                    <span data-i18n="Creator's Notes">Creator's Notes</span>
                                    <i class="editor_maximize fa-solid fa-maximize" data-for="acm_creator_notes_textarea" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                                </h4>
                                <label for="acm_creator_notes_textarea2" title="Creator Notes">
                                    <textarea id="acm_creator_notes_textarea2" name="creator_notes" data-i18n="[placeholder](Describe the bot, give use tips, or list the chat models it has been tested on. This will be displayed in the character list.)" placeholder="(Describe the bot, give use tips, or list the chat models it has been tested on. This will be displayed in the character list.)" class="text_pole" autocomplete="off" rows="4" maxlength="20000"></textarea>
                                </label>
                            </div>
                            <div class="flex1">
                                <h4 data-i18n="Tags to Embed">Tags to Embed</h4>
                                <label for="acm_tags_textarea2" title="Tags">
                                    <textarea id="acm_tags_textarea2" name="tags" data-i18n="[placeholder](Write a comma-separated list of tags)" placeholder="(Write a comma-separated list of tags)" class="text_pole" autocomplete="off" rows="4" maxlength="5000"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h4>
                        <span data-i18n="Personality summary">Personality summary</span>
                        <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_personality" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                        <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#personality-summary" class="notes-link" target="_blank"><span class="fa-solid fa-circle-question note-link-span"></span></a>
                    </h4>
                    <label for="acm_create_personality" title="Personality">
                        <textarea id="acm_create_personality" name="personality" data-i18n="[placeholder](A brief description of the personality)" placeholder="(A brief description of the personality)" class="text_pole" autocomplete="off" rows="4" maxlength="50000"></textarea>
                    </label>
                    <div class="extension_token_counter">
                        <span id="acm_create_personality_tokens">Tokens: 0</span>
                    </div>
                </div>
                <div>
                    <h4>
                        <span data-i18n="Scenario">Scenario</span>
                        <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_scenario" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                        <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#scenario" class="notes-link" target="_blank">
                            <span class="fa-solid fa-circle-question note-link-span"></span>
                        </a>
                    </h4>
                    <label for="acm_create_scenario" title="Scenario">
                        <textarea id="acm_create_scenario" name="scenario" data-i18n="[placeholder](Circumstances and context of the interaction)" placeholder="(Circumstances and context of the interaction)" class="text_pole" maxlength="50000" autocomplete="off" rows="4"></textarea>
                    </label>
                    <div class="extension_token_counter">
                        <span id="acm_create_scenario_tokens">Tokens: 0</span>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex1">
                        <h4>
                            <span data-i18n="Character's Note">Character's Note</span>
                            <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_depth_prompt" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                        </h4>
                        <label for="acm_create_depth_prompt" title="Depth Prompt">
                            <textarea id="acm_create_depth_prompt" name="depth_prompt_prompt" class="text_pole" rows="5" maxlength="50000" autocomplete="off" data-i18n="[placeholder](Text to be inserted in-chat @ designated depth and role)" placeholder="(Text to be inserted in-chat @ designated depth and role)"></textarea>
                        </label>
                    </div>
                    <div>
                        <h4>
                            <span data-i18n="@ Depth">@ Depth</span>
                        </h4>
                        <label for="acm_depth_prompt_depth2">Depth prompt depth
                            <input id="acm_depth_prompt_depth2" name="depth_prompt_depth" class="text_pole textarea_compact m-t-0" type="number" min="0" max="999" value="4">
                        </label>
                        <h4>
                            <span data-i18n="Role">Role</span>
                        </h4>
                        <label for="acm_depth_prompt_role2" title="Depth prompt Role">
                            <select id="acm_depth_prompt_role2" name="depth_prompt_role" class="text_pole textarea_compact m-t-0">
                                <option value="system" data-i18n="System">System</option>
                                <option value="user" data-i18n="User">User</option>
                                <option value="assistant" data-i18n="Assistant">Assistant</option>
                            </select>
                        </label>
                        <div class="extension_token_counter">
                            <span id="acm_create_depth_prompt_tokens">Tokens: 0</span>
                        </div>
                    </div>
                </div>
                <div>
                    <h4><span data-i18n="Talkativeness">Talkativeness</span></h4>
                    <h5 data-i18n="How often the character speaks in group chats!"><!-- This data-i18n attribute on the left is kept for backward compatibility, use the ones below when translating -->
                        <span data-i18n="How often the character speaks in">How often the character speaks in</span>&nbsp;<span class="warning" data-i18n="group chats!">group chats!</span>
                    </h5>
                    <label for="acm_talkativeness_slider2" title="Talkativeness">
                        <input id="acm_talkativeness_slider2" name="talkativeness" type="range" min="0" max="1" step="0.05" value="0.5">
                    </label>
                    <div class="slider_hint">
                        <span data-i18n="Shy">Shy</span>
                        <span data-i18n="Normal">Normal</span>
                        <span data-i18n="Chatty">Chatty</span>
                    </div>
                </div>
                <hr>
                <div class="flex-container flexFlowColumn">
                    <div>
                        <h4>
                            <span data-i18n="Examples of dialogue">Examples of dialogue</span>
                            <i class="editor_maximize fa-solid fa-maximize" data-for="acm_create_mes_example" title="Expand the editor" data-i18n="[title]Expand the editor"></i>
                        </h4>
                        <h5 data-i18n="Important to set the character's writing style.">Important to set the character's writing style. <a href="https://docs.sillytavern.app/usage/core-concepts/characterdesign/#examples-of-dialogue" class="notes-link" target="_blank"><span class="fa-solid fa-circle-question note-link-span"></span></a></h5>
                    </div>
                    <label for="acm_create_mes_example" title="Messages examples">
                        <textarea id="acm_create_mes_example" class="flexGrow" name="mes_example" data-i18n="[placeholder](Examples of chat dialog. Begin each example with START on a new line.)" placeholder="(Examples of chat dialog. Begin each example with <START> on a new line.)" maxlength="50000" rows="6"></textarea>
                    </label>
                    <div class="extension_token_counter">
                        <span id="acm_create_mes_example_tokens">Tokens: 0</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="acm-popup-controls">
        <div id="acm_create_popup_create" class="menu_button">Create</div>
        <div id="acm_create_popup_close" class="menu_button popup-button-ok">Cancel</div>
    </div>
</div>
